extends layout

block content
  //- let score = 0
  h1 #{title}
  if error != ''
    label(class='error') #{error}
  h2 Your Answers:
  each answer in userAnswers
    p Question: #{answer.question}
    p Your Answer: #{answer.answer}.
    hr
  h2 Correct Answers:
  each question in shuffledQuestions
    p Question: #{question.question}
    p Correct Answer: #{question.correct_answer}.
    hr
  //- - for (let i = 0; i < Math.min(5, shuffledQuestions.length); i++)
  //-   - const question = shuffledQuestions[i]
  //-   - if (userAnswers[i] && userAnswers[i].answer === question.correct_answer)
  //-     p Question #{i + 1}: #{question.correct_answer} (Correct)
  //-     - score++
  //-   - else
  //-     p Question #{i + 1}: #{question.correct_answer} (Incorrect)

  h1 --- Your score: <u><i>#{userScore}</i></u> out of #{Math.min(5, shuffledQuestions.length)} ---